* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.depoimentos {
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--p1);
}

.depoimentos-texto {
  align-self: center;
  padding-bottom: 20px;
}

.depoimentos-img img {
  height: 100%;
  width: 100%;
}

.depoimentos-texto h3::before {
  content: '"';
  color: var(--p2);
  top: -20px;
  left: -20px;
  position: relative;
}

.depoimentos-texto h3 {
  font-family: poppins, sans-serif;
  font-size: 32px;
  text-align: center;
  padding: 80px;
  line-height: 1.225;
  color: var(--p5);
}

.depoimentos-texto h3::after {
  position: relative;
  display: inline-block;
  content: '"';
  color: var(--p2);
  right: -40px;
  top: 40px;
}

.depoimentos-texto span {
  font-family: poppins, sans-serif;
  font-size: 24 px;
  font-weight: 500;
  margin-left: 80px;
}

@media (max-width: 1200px) {
  .depoimentos-texto h3 {
    font-size: 18px;
    padding: 20px;
    font-size: 16;
  }
}

@media (max-width: 800px) {
  .depoimentos-texto h3::before {
    display: none;
  }
  .depoimentos-texto h3::after {
    display: none;
  }
}